* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  font-family: "Neue Montreal";
  font-style: normal;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Стилі для кнопки закриття */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
  transform: scale(0.92);
}

.swiper {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  height: fit-content;
  padding-bottom: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  align-self: center;
}

.body-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}
.backimg {
  background-image: url(../media/mainback.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutimg {
  background-image: url(../media/aboutuss.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.gotopbtn {
  content: "⇧";
  position: fixed;
  width: 50px;
  height: 50px;
  background: #384353;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 32px;
  z-index: 999;
  border: 2px solid #fff;
  padding-bottom: 15px;
}

.gotopbtn::before {
  content: "\2191"; /* Unicode стрілка вгору */
}

.gotopbtn ion-icon {
  display: block;
  margin-top: 9px;
}

i {
  width: 16px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  height: 64px;
  background-color: #7f8ea3;
  z-index: 1;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 32px;
}

.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  max-width: 320px;
  z-index: 1;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #7f8ea3;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
}

.mobile-menu a {
  display: flex;
  text-decoration: none;
  color: #fcfdfd;
  padding: 20px;
  font-weight: 600;
  list-style: none;
  text-transform: uppercase;
  border: 1px solid #fcfdfd;
}
.mobile-menu li {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.union {
  width: 90px;
  height: 19px;
  color: #fcfdfd;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 32px;
}

.nav-text {
  text-transform: uppercase;
  color: #fcfdfd;
  font-size: 14px;
}

.bag-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 20px;
  height: 20px;
  background: #384353;
  border-radius: 50px;
  color: #fcfdfd;
  font-weight: 400;
  font-size: 12px;
  line-height: 1px;
}

.welcome-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 637px;
  gap: 48px;
}

.welcome .slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 637px;
  gap: 48px;
  font-size: 70px;
}

.slogan {
  height: 84px;
  font-family: "Reckless Neue";
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fcfdfd;
}

.shop-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 36px;
  gap: 8px;
  height: 30px;
  background: #f8f4e7;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  color: #323334;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.1em;
}

.seamless-furniture {
  width: 100%;
  height: 126px;
  font-family: "Reckless Neue";
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #323334;
}

.section-aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 701px;
  width: 100%;
  gap: 36px;
  padding: 16px;
  overflow: hidden;
}

.block-aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.concept-text {
  width: 100%;
  height: 133px;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #323334;
  margin-bottom: 23px;
}

.button_about {
  padding: 8px 30px;
  width: 178px;
  height: 30px;
  border: 1px solid #dfdedb;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #323334;
}

.home-item {
  width: 137px;
  height: 104px;
  left: 28px;
  top: 35px;
  position: absolute;
  z-index: 0;
}

.home-inner {
  width: 91px;
  height: 61px;
  left: -65px;
  top: 220px;
  position: absolute;
}

.rectangle-img {
  width: 182px;
  height: 128px;
  left: -130px;
  top: 65%;
  position: absolute;
}

.pillow-img {
  width: 60px;
  height: 48px;
  left: 250px;
  top: 110px;
  position: absolute;
}

.right-bed {
  width: 100px;
  height: 93px;
  left: 90%;
  top: 220px;
  position: absolute;
}

.down-bed {
  width: 136px;
  height: 105px;
  left: 228px;
  top: 580px;
  position: absolute;
}

.feature-products {
  display: flex;
  flex-direction: column;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #dfdedb;
  color: #323334;
}

.card {
  width: 50%;
  padding: 20px;
  border: 1px solid #dfdedb;
  gap: 20px;
}

.product-name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
}

.product-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
}

.enjoy-text {
  font-family: "Reckless Neue";
  font-weight: 400;
  font-size: 80px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto;
}

.enjoy-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 132px;
  width: 100%;
  height: fit-content;
  padding: 10px 0;
  justify-self: center;
}

.button-shop {
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #323334;
  border: 1px solid #dfdedb;
}

.section-chair {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 36px;
  padding: 16px 16px 68px;
  background: #384353;
}

.native-light {
  width: 100%;
  height: 42px;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.02em;

  color: #fcfdfd;
}

.native-description {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #dfdedb;
}

.native-block {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.native-image {
  width: 100%;
}
.native-image img {
  width: 100%;
}
.viev_button {
  width: 105px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #fcfdfd;
  text-decoration: none;
  text-transform: uppercase;
}

/* 5 storinka */
.chair-section {
  display: flex;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/../media/chair_backimage.png);
}

/* 6 storinka */
.lookbook_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #384353;
}

.lookbook-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  width: 100%;
  padding: 16px 16px 56px 16px;
}

.lookbook-text {
  width: 100%;
  height: 42px;
  font-family: "Reckless Neue";
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #f5f4f3;
}

.lookbook-description {
  width: 100%;
  height: 95px;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #dfdedb;
}

.material-block {
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  max-height: 800px;
}
.lookbook-info {
  display: flex;
  justify-content: space-between;
  padding: 6px 16px;
  border-bottom: 1px solid #dfdedb;
}

.info-block {
  border-top: 1px solid #dfdedb;
  color: #f5f4f3;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.back-material {
  width: 100%;
  padding: 20px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background: #e0e0e0;
  max-height: 500px;
}
.back-material img {
  width: 100%;
  margin: 0 auto;
}

.lookbook-button {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  color: #323334;
}

.lookbook-button a {
  text-decoration: none;
  color: #323334;
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
}
.lookprod-block {
  border-top: 1px solid #dfdedb;
  padding: 24px;
}
.look-products {
  font-family: "Reckless Neue";
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  gap: 24px;
  letter-spacing: -0.02em;
  color: #f5f4f3;
}
.white {
  color: #dfdedb;
}
.product-shop {
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #f5f4f3;
  border-bottom: 1px solid #dfdedb;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.2px;
}
/* 7 storinka */
.detail-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detailtext-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  width: 100%;
  padding: 56px 16px 56px;
}
.detail-text {
  font-family: "Reckless Neue";
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #323334;
}
.detail-add {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #323334;
  text-transform: uppercase;
}
.detail-description {
  /* There are multiples of high quality pieces, with styles that transition from classic to contemporary. An exclusive selection of lampshades, vases, murals, pillows, paintings and many gifts to compose great projects. In order selection, a mix of basic style, stricter customization and more compact dimensions, composing sophisticated and exclusive environments. */

  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;

  color: #323334;
}
.detail-chair {
  width: 100%;
  margin-bottom: -4px;
}
.detail-chair-metter {
  width: 100%;
  margin-bottom: -4px;
  object-fit: cover;
}
.detail-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 8px 8px;
}
.detail-block-image {
  margin-right: 7px;
  object-fit: cover;
}
.detail-block-image:last-child {
  margin: 0;
}
/* 8 storinka */
.articles-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.articles-text {
  padding: 24px 45px;
  width: 100%;
  font-family: "Reckless Neue";
  font-weight: 400;
  font-size: 33px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #323334;
  border-bottom: 1px solid #dfdedb;
}
.articles-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 10px;
  border: 1px solid #dfdedb;
}
.articles-blockphone {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 10px;
}
.inside-text {
  font-family: "Reckless Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #323334;
}
.artictext-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.aricles-description {
  height: fit-content;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #384353;
}
.readarticle-buttom {
  align-items: center;
  gap: 8px;
  width: 105px;
  height: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 1.2px;
  color: #384353;
  text-decoration: none;
  text-transform: uppercase;
}
.allarticle-buttom {
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #384353;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.2px;
}
.articlebutton-block {
  border: 1px solid #dfdedb;
}
/* 9 storinka */
.partclub-section {
  width: 100%;
  display: flex;
  background-image: url(../media/partclub_back.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 16px;
  height: 677px;
  justify-content: center;
  align-items: center;
}
@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.partclub-block {
  display: flex;
  gap: 48px;
  flex-direction: column;
  transform: translateY(20px); /* Зміщуємо вниз на 20px */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.partclub-text {
  font-family: "Reckless Neue";
  font-weight: 400;
  font-size: 33px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #f5f4f3;
}
.your-email {
  box-sizing: border-box;
  padding: 16px;
  gap: 10px;
  border: 1px solid #dfdedb;
  border-radius: 8px;
}
input[type="text"]::placeholder {
  color: #f5f4f3;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #f5f4f3;
}
/* 10 storinka */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #384353;
  padding-bottom: 56px;
}
.footer-blocks {
  display: flex;
  width: 100%;
}

.footer-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  border: 1px solid #dfdedb;
  gap: 8px;
}
.footer-image img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 17px 35px;
}
.arusa-footer {
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #dfdedb;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.2px;
}
.arusa-footer-block {
  border: 1px solid #dfdedb;
}
.rozdil-footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #f5f4f3;
  text-transform: uppercase;
}
.footer-card a {
  color: #f5f4f3;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 1.2px;
}
.section-chair-planshet,
.chair-section-planshet,
.info-block-planshet,
.lookbook-top-block-planshet,
.hiden-text-lookbook,
.lookbook-block-planshet,
.hiden-detail-text,
.detail-images-planshet,
.second-chair-section-planshet,
.second-card-chair,
.artictext-block-planshet,
.articles-blockmain {
  display: none;
}

.header-text {
  color: #323334;
}

.header-text h2 {
  padding: 15px;
  font-size: 30px;
}

.blocks-info {
  display: flex;
  gap: 100px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 25px 0;
  margin: 0 15px;
  font-family: "Neue Montreal", sans-serif;
}

.blog-block h3 {
  text-transform: uppercase;
}

.blog-block p {
  color: rgb(0, 0, 0, 0.5);
}

.blog-blocks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.blog-blocks-circ {
  display: none;
}

.blog-block-circ {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.blog-main {
  padding: 20px 0;
  margin: 0 15px;
}

.blog-main img {
  width: 100%;
}

.blog-main h3 {
  font-size: 25px;
  padding: 30px 0;
}

.blog-main p {
  font-size: 20px;
  margin: 0 0 30px;
}

.blog-images img,
.blog-images-two img {
  height: 350px;
  margin: 0 0 30px;
}

.blog-images img:last-child {
  margin: 0;
}

.blog-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #323334;
  height: 60px;
  margin: 0 -15px;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.blog-cards {
  margin: 0 15px 80px;
  font-family: "Reckless Neue";
}

.card-article img {
  height: 340px;
  width: 100%;
}

.card-article h3 {
  font-size: 25px;
  padding: 30px 0;
}

.card-article p {
  font-size: 20px;
  margin: 0 0 30px;
}

.btn-article {
  display: flex;
  font-size: 18px;
  margin: 0 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #323334;
}

.allproducts {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50px 50px auto;
  grid-template-areas:
    "products search"
    "filters sortby"
    "cardrow cardrow";
}

.all_filters,
.all_21prod,
.all_search,
.all_sortby {
  border: 1px solid #dfdedb;
  display: flex;
  align-items: center;
}

.all_filternames {
  display: none;
}

.product-row {
  grid-area: cardrow;
}

.allproducts div {
  text-transform: uppercase;
}

.all_name {
  display: flex;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}

.product-text-row {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  justify-self: flex-start;
}

.cards-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.aboutus {
  height: fit-content;
  background-color: #384353;
}

.aboutus_article {
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 100px;
}

.aboutus h3,
.aboutus p {
  color: #fff;
}

.aboutus h3 {
  font-size: 40px;
}

.aboutus p {
  font-size: 14px;
}

.aboutus_heading {
  display: none;
}

.aboutus_leather {
  background-image: url(../media/leather.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.aboutus_leather img {
  height: 400px;
  width: auto;
}

.reasons_item {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #fff;
  padding: 20px 0 40px 0;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.aboutus_reasons_article {
  font-size: 40px;
}

.reasons_item h2,
.reasons_item div {
  color: #fff;
}

.reasonnum {
  flex: 1;
}
.reasonname {
  flex: 10;
}
.reasondesc {
  flex: 10;
}

.band_bandtext {
  display: flex;
  flex-direction: row;
  border: 1px solid #dfdedb;
}

@media (min-width: 769px) {
  .club-block {
    padding: 0 60px 80px;
  }
  .blog-btn {
    margin: 0 -70px;
  }
  .blog-images {
    display: flex;
    gap: 30px;
  }
  .blog-main {
    padding: 30px 70px;
    margin: 0;
  }
  .header-text h2 {
    padding: 70px 70px 20px;
    font-size: 70px;
  }
  .blocks-info {
    padding: 25px 70px;
    margin: 0;
  }
  .section-chair {
    display: none;
  }
  .chair-section {
    display: none;
  }
  .mobilelookbook {
    display: none;
  }
  .detail-images-phone {
    display: none;
  }
  .articles-blockphone {
    display: none;
  }
  .nav-left {
    margin-left: 50px;
  }
  .nav-right {
    margin-right: 50px;
  }
  .slogan {
    height: 145px;
    font-family: "Reckless Neue";
    font-weight: 250;
    font-size: 84px;
    line-height: 80px;
  }

  /* 2 storinka */
  .block-aboutus {
    width: 100%;
    gap: 1px;
  }
  .section-aboutus {
    height: 950px;
    width: 100%;
  }
  .seamless-furniture {
    width: 100%;
    height: 190px;
    font-weight: 480;
    font-size: 64px;
    line-height: 58px;
  }

  .furniture {
    font-style: italic;
  }
  .concept-text {
    width: 506px;
    height: 80px;

    margin-bottom: 23px;
  }
  .home-item {
    width: 252px;
    height: 252px;
    left: 35%;
    top: 35px;
  }
  .home-inner {
    width: 150px;
    height: 150px;
    left: 1%;
    top: 220px;
  }
  .right-bed {
    width: 150px;
    height: 150px;
    left: 88%;
    top: 39%;
  }
  .pillow-img {
    width: 100px;
    height: 100px;
    left: 80%;
    top: 25%;
  }

  .down-bed {
    width: 230px;
    height: 230px;
    left: 65%;
    top: 60%;
  }
  .rectangle-img {
    width: 152px;
    height: 152px;
    left: -3%;
    top: 500px;
  }
  /* 3 storinka */
  .product-row {
    display: flex;
    flex-direction: row;
  }
  .product-text-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-name {
    margin: 0px;
  }
  /* 4 storinka */
  .section-chair-planshet {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 36px;
    background: #384353;
    height: 670px;
  }
  .section-chair-planshet img {
    width: 50%;
    height: 100%;
  }
  .native-block {
    margin-left: 36px;
    margin-top: 150px;
  }
  /* 5 storinka */
  .chair-section-planshet {
    display: flex;
    position: relative;
    width: 100%;
    height: 1081px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../media/chair_backimage.webp);
  }
  .card-chair-right {
    width: fit-content;
    padding: 20px;
    position: absolute;
    border: 1px solid #dfdedb;
    background: #ffffff;
    right: 25%;
    top: 15%;
  }
  .card-chair {
    position: absolute;
    width: fit-content;
    padding: 20px;
    border: 1px solid #dfdedb;
    background: #ffffff;
    left: 25%;
    bottom: 15%;
  }
  /* 6 storinka */

  .lookbook-top-block-planshet {
    display: flex;
    flex-direction: row;
    height: 769px;
  }

  .lookbook-block-planshet {
    display: flex;
    flex-direction: column-reverse;
    border-width: 0px 1px 0px;
    border-style: solid;
    border-color: #e0e0e0;
    color: beige;
    justify-content: space-evenly;
    /* width: 50%; */
    /* max-height:800px ; */
  }
  .lookbook-block {
    width: 50%;
  }
  .info-block-planshet {
    border-top: 1px solid #dfdedb;
    color: #f5f4f3;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  .lookbook-info-planshet {
    display: flex;
    justify-content: space-between;
    padding: 6px 16px;
    border-bottom: 1px solid #dfdedb;
  }
  .hiden-text-lookbook {
    display: flex;
    align-items: flex-end;
    color: #f9fbfc;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border-left: 1px solid #dfdedb;
    text-align: center;
    text-transform: uppercase;
  }
  .hiden-text {
    width: 100%;
    height: 42px;
    font-family: "Reckless Neue";
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #f5f4f3;
    padding-top: 16px;
  }
  .lookbook-block {
    margin-top: 250px;
    gap: 250px;
  }
  /* 7 storinka */
  .detail-text {
    font-weight: 400;
    font-size: 45px;
    line-height: 42px;
    padding-top: 50px;
  }
  .detail-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    padding: 16px 190px 16px;
  }
  .detail-block-planshet {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #dfdedb;
  }
  .detail-block img {
    min-height: 260px;
  }
  .detail-block-image img {
    max-height: 500px;
  }
  .detail-block {
    flex-direction: column;
  }
  .detail-block-image:last-child {
    margin: 0;
  }
  .detail-block-image {
    padding: 6px 6px 6px;
  }
  .hiden-detail-text {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: "Reckless Neue";
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #323334;
    padding-top: 45px;
  }
  .detail-block-image {
    margin-right: 0px;
    width: 95%;
    padding: 0px 0px 5px 7px;
    max-height: 500px;
  }

  /* .detail-block{
    width: 96%;
    padding: 0px;
} */
  .detail-images-planshet {
    display: flex;
    width: 100%;
    flex: 1;
  }
  .detail-chair-metter {
    margin-bottom: -4px;
    padding: 9px 0px 15px 16px;
    min-height: 677px;
    flex: 2;
  }
  .second-chair-section-planshet {
    display: flex;
    position: relative;
    width: 100%;
    height: 665px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../media/secondchair_backimage.webp);
  }
  .second-card-chair {
    display: flex;
    position: absolute;
    width: 350px;
    padding: 15px;

    left: 30%;
    top: 30%;
  }
  .articles-blockmain {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    padding: 16px 16px 10px;
    height: 560px;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  .articles-blockmain.animated {
    opacity: 1;
    transform: translateY(0);
  }
  .detail-chair-planshet {
    flex: 1;
    object-fit: cover;
  }
  .hiden-enjoy-text {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: "Reckless Neue";
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #323334;
    padding-top: 25px;
  }
  .artictext-block-planshet {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 24px;
    padding: 142px 33px 148px 33px;
  }
  .allarticles {
    display: flex;
    flex-direction: row;
    margin-bottom: 84px;
  }
  .artictext-block {
    padding-bottom: 70px;
  }
  .partclub-text {
    font-size: 58px;
    line-height: 67px;
  }
  .footer-planshet {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
  }
}

@media (min-width: 838px) {
  .section-chair {
    display: none;
  }
  .chair-section {
    display: none;
  }
  .mobilelookbook {
    display: none;
  }
  .detail-images-phone {
    display: none;
  }
  .articles-blockphone {
    display: none;
  }
  .nav-left {
    margin-left: 50px;
  }
  .nav-right {
    margin-right: 50px;
  }
  .slogan {
    height: 145px;
    font-family: "Reckless Neue";
    font-weight: 250;
    font-size: 84px;
    line-height: 80px;
  }
  /* 2 storinka */
  .block-aboutus {
    width: 100%;
    gap: 1px;
  }
  .section-aboutus {
    height: 950px;
    width: 100%;
  }
  .seamless-furniture {
    width: 100%;
    height: 190px;
    font-weight: 480;
    font-size: 64px;
    line-height: 58px;
  }

  .furniture {
    font-style: italic;
  }
  .concept-text {
    width: 506px;
    height: 80px;

    margin-bottom: 23px;
  }
  /* .home-item {
    width: 252px;
    height: 252px;
    left: 35%;
    top: 35px;
  } */
  .home-inner {
    width: 150px;
    height: 150px;
    left: 1%;
    top: 220px;
  }
  .right-bed {
    width: 150px;
    height: 150px;
    left: 88%;
    top: 39%;
  }
  .pillow-img {
    width: 100px;
    height: 100px;
    left: 80%;
    top: 25%;
  }
  .right-bed {
    width: 120px;
    height: 120px;
    left: 90%;
    top: 45%;
  }

  .down-bed {
    width: 230px;
    height: 230px;
    left: 65%;
    top: 60%;
  }
  .rectangle-img {
    width: 152px;
    height: 152px;
    left: -3%;
    top: 500px;
  }
  /* 3 storinka */
  .product-row {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }
  .product-text-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-name {
    margin: 0px;
  }
  /* 4 storinka */
  .section-chair-planshet {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 36px;
    background: #384353;
    height: 670px;
  }
  .section-chair-planshet img {
    width: 50%;
    height: 100%;
  }
  .native-block {
    margin-left: 36px;
    margin-top: 150px;
  }
  /* 5 storinka */
  .chair-section-planshet {
    display: flex;
    position: relative;
    width: 100%;
    max-height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-image: url(../media/chair_backimage.png); */
  }
  .chair-section-planshet img {
    width: 251px;
    height: 301px;
  }

  .card-chair-right {
    width: fit-content;
    position: absolute;
    border: 1px solid #dfdedb;
    background: #ffffff;
    /* right: 20vw; */
  }
  .card-chair {
    position: absolute;
    width: fit-content;
    border: 1px solid #dfdedb;
    background: #ffffff;
    /* left: 20%;
    top: 20%; */
  }
  /* 6 storinka */

  .lookbook-top-block-planshet {
    display: flex;
    flex-direction: row;
    height: 769px;
    justify-content: space-around;
  }

  .lookbook-block-planshet {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    border-width: 0px 1px 0px;
    border-style: solid;
    border-color: #e0e0e0;
    color: beige;
    width: fit-content;
    /* max-height:800px ; */
  }
  .lookbook-block {
    width: 50%;
  }
  .info-block-planshet {
    border-top: 1px solid #dfdedb;
    color: #f5f4f3;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  .lookbook-info-planshet {
    display: flex;
    justify-content: space-between;
    padding: 6px 16px;
    border-bottom: 1px solid #dfdedb;
  }
  .hiden-text-lookbook {
    display: flex;
    align-items: flex-end;
    color: #f9fbfc;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border-left: 1px solid #dfdedb;
    text-align: center;
    text-transform: uppercase;
  }
  .hiden-text {
    width: 100%;
    height: 42px;
    font-family: "Reckless Neue";
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #f5f4f3;
    padding-top: 16px;
  }
  .lookbook-block {
    margin-top: 250px;
    gap: 250px;
  }
  /* 7 storinka */
  .detail-text {
    font-weight: 400;
    font-size: 45px;
    line-height: 42px;
    padding-top: 50px;
  }
  .detail-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    padding: 16px 190px 16px;
  }
  .detail-block-planshet {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .detail-block {
    flex-direction: column;
  }
  .detail-block-image:last-child {
    margin: 0;
    min-height: 385px;
  }
  .detail-block-image {
    padding: 6px 6px 6px;
  }
  .hiden-detail-text {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: "Reckless Neue";
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #323334;
    padding-top: 45px;
  }
  .detail-block-image {
    margin-right: 0px;
    width: 95%;
    padding: 0px 0px 5px 7px;
  }
  /* .detail-block{
        width: 96%;
        padding: 0px;
    } */
  .detail-images-planshet {
    display: flex;
    width: 100%;
  }
  .detail-chair-metter {
    margin-bottom: -4px;
    padding: 9px 0px 15px 16px;
  }
  .second-chair-section-planshet {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 665px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../media/secondchair_backimage.webp);
  }
  .second-card-chair {
    display: flex;
    position: absolute;
    width: 350px;
    padding: 15px;

    left: 30%;
    top: 30%;
  }
  .articles-blockmain {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    padding: 16px 16px 10px;
    height: fit-content;
    padding-bottom: 40px;
  }
  .detail-chair-planshet {
    width: 250px;
  }
  .hiden-enjoy-text {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: "Reckless Neue";
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #323334;
    padding-top: 25px;
  }
  .artictext-block-planshet {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
    padding: 142px 33px 148px 33px;
  }
  .allarticles {
    display: flex;
    flex-direction: row;
  }
  .artictext-block {
    padding-bottom: 70px;
  }

  .partclub-text {
    font-size: 58px;
    line-height: 67px;
  }
  .footer-planshet {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .aboutus {
    display: flex;
    flex-direction: row;
  }
  .aboutus_heading {
    display: block;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 22px;
    color: #fff;
    border-left: 1px solid #fff;
    padding: 10px;
  }
  .aboutus_article {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .article-cards {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    margin-top: -30px;
  }
  .card-article {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 30px 15px 70px;
    border-right: 1px solid rgb(0, 0, 0, 0.2);
  }
  .card-article:last-child {
    border-right: none;
  }
  .blog-cards {
    margin: 0 0 80px;
  }
  .home-item {
    width: 252px;
    height: 252px;
    left: 40%;
    top: 40px;
  }
  .home-inner {
    width: 150px;
    height: 150px;
    left: 17%;
    top: 20%;
  }
  .right-bed {
    width: 150px;
    height: 150px;
    left: 88%;
    top: 39%;
  }
  .pillow-img {
    width: 100px;
    height: 100px;
    left: 80%;
    top: 25%;
  }
  .down-bed {
    width: 230px;
    height: 230px;
    left: 58%;
    top: 60%;
  }
  .rectangle-img {
    width: 152px;
    height: 152px;
    left: 6%;
    top: 500px;
  }
}

@media (min-width: 1362px) {
  .allproducts {
    padding: 0 350px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 70px auto auto;
    grid-template-areas:
      "products products search"
      "filters cardrow cardrow"
      "sortby cardrow cardrow";
  }
  .all_21prod {
    grid-area: products;
    border: none;
    border-left: 1px solid #dfdedb;
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  .all_search {
    grid-area: search;
    border: none;
    border-right: 1px solid #dfdedb;
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  .all_search,
  .all_21prod {
    border-top: 1px solid #dfdedb;
  }
  .all_filters {
    grid-area: filters;

    width: 100%;
  }
  .all_sortby {
    grid-area: sortby;
  }
  .all_filters p {
    border: 1px solid #dfdedb;
    width: 100%;
    padding: 30px 0 10px 40px;
  }
  .all_sortby p {
    border: 1px solid #dfdedb;
    width: 100%;
    padding: 30px 0 10px 40px;
  }
  .all_filters ul {
    width: 100%;
    padding: 30px 0 10px 40px;
  }
  .all_sortby ul {
    width: 100%;
    padding: 30px 0 10px 40px;
  }
  .all_filters,
  .all_sortby {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    border-left: 1px solid #dfdedb;
  }
  .all_filternames {
    display: block;
  }
  .all_filternames li {
    list-style: none;
  }
  .blog-blocks {
    flex-direction: row;
    align-items: center;
  }
  .blog-block {
    padding-right: 200px;
  }
  .blocks-info {
    justify-content: space-between;
  }
  .header-text h2 {
    padding: 70px 70px 20px;
    font-size: 70px;
  }
  .blocks-info {
    padding: 25px 70px;
    margin: 0;
  }
  .blog-images img,
  .blog-images-two img {
    height: 715px;
  }
  .blog-btn {
    margin: 0 -70px;
  }
}

@media (min-width: 1620px) {
  .blog-blocks-circ {
    display: flex;
    gap: 30px;
  }
}
